<!DOCTYPE html>
<html>
  <head>
    <title>Teague APIs - File Metadata</title>
    <meta name="description" content="A microservice rest API returning a JSON object of an image search result">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Teague APIs - File Metadata
      </h1>
    </header>

    <article>
      <section>
        <h2>
          User Stories
        </h2>
        <ol>
          <li>I can submit a form object that includes a file upload.</li>
          <li>The from file input field has the "name" attribute set to "upfile". We rely on this in testing.</li>
          <li>When I submit something, I will receive the file name, and size in bytes within the JSON response.</li>
        </ol>
      </section>
      <section>
        <p>
        Upload a file to view its file size.
      </p>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="upfile" />
        <input type="submit" value="Submit"/>
      </form>
      </section>
    </article>
  </body>
</html>
